/* #5 */
#external {
	color:yellow;
}

/* #6 */
* {
	font-family:"Verdana", sans-serif;
	font-size:20px;
}

/* #7 */
h1 {
	font-size: 30px;
}

/* #8 */
#sub-header {
 	text-transform: uppercase;
}

/* #9 */
.languages {
	background-color: green;
}

/* #10 */
li[class="border-blue"] {
	border: 2px solid darkblue; 
}

/* #11 */
img + ul {
	list-style-type: none;
}

/* #12 */
h4 + img {
 	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* #13 */
ul ~ p {
	text-align:center;
	color: black;
}

/* #14 */
section > ul > li {
 	letter-spacing: 10px;
}

